<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">Liste des clients</div>
            <div class="card-body">
                <form method="get" th:action="@{/user/index}">
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Chercher</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>EMAIL</th>
                        <th>NOM</th>
                        <th>USERNAME</th>
                        <th>PROFIL</th>
                        <th>LISTE D'ABONNEMENTS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${listClients}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.email}"></td>
                        <td th:text="${p.nom}"></td>
                        <td th:text="${p.username}"></td>
                        <td>
                            <a class="btn btn-dark" th:href="@{/user/profil/{id}(id=${p.id})}">
                                Profil
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" th:href="@{/user/abonnements/client/{id}(id=${p.id})}">
                                Les abonnements
                            </a>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a onclick="return confirm('Voulez vous supprimer ce client?')" class="btn btn-danger" th:href="@{/admin/delete(id=${p.id}, keyword=${keyword}, page=${currentPage})}">
                                Supprimer
                            </a>
                        </td>
                        <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                            <a class="btn btn-success" th:href="@{/admin/editClient(id=${p.id}, keyword=${keyword}, page=${currentPage} )}">
                                Edit
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                           th:text="${status.index}"
                           th:href="@{/index(page=${status.index}, keyword=${keyword})}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>